body {
  color: #999999;
  font: {
    family: Roboto, Arial, sans-serif;
    size: 15px;
  }
}

.main_Mogo {
  max-width: 1926px;
  margin: 30px auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}