.teamfoto {
  margin-top: 81px;
  padding-bottom: 116px;
  display: flex;
  justify-content: space-between;

  &__hover {
    width: 382px;
    height: 472px;

    &:hover {
      position:relative;
      left:-10px;
      top:-10px;
      box-shadow: 10px 10px #95e1d3;
      transition: 1s;

      .gradient {
        opacity: 1;
      }
    }
  }

  &__social {
    margin-top: 207px;
    display: inline-block;

    ul {
      display: flex;
      list-style: none;
    }
  }

  &__item1 {
    background: url('../img/team1.png') no-repeat;
    background-size: cover;
  }

  &__item2{
    background: url('../img/team2.png') no-repeat;
    background-size: cover;
  }

  &__item3{
    background: url('../img/team3.png') no-repeat;
    background-size: cover;
  }
}

.social__item {
  width: 56px;
  height: 56px;
  padding: 15px;
  margin-right: 2px;
  background-color: #fce38a;

  &:hover {
    background-color: #f38181;
  }
}

.teammate_name{
  margin:30px 0 15px 0;
  color: #333333;
  font: {
    family: 'Montserrat';
    size: 14px;
    weight: 400;
  }
  text-transform: uppercase;
}

.teammate_position{
  color: #999999;
  font: {
    family: 'Roboto';
    style: italic;
    size: 15px;
    weight: 400;
  }
  line-height: 24px;
}
