.white_line {
  height:438px;
}
.white__line_container {
  padding:98px 23px 128px 23px;
  height: 100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.circle__foto {
  width: 212px;
  height: 212px;
  margin:0 30px 0 42px;
}