<section class="aboutUs">
    <div class="wrapper">
        <h3 class="mainTitle">
            What we do
        </h3>
        <span class="secondTitle">
			Story about us
        </span>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <div class="block_foto">
            <div class="foto foto1">
                <div class="gradient">
                    <p class="hover-text">
                        super team
                    </p>
                </div>
                <!-- <img src="./img/foto1.png" alt="foto1"> -->
            </div>
            <div class="foto foto2">
                <div class="gradient">
                    <p class="hover-text">
                        super team
                    </p>
                </div>
                <!-- <img src="./img/foto2.png" alt="foto1"> -->
            </div>
            <div class="foto foto3">
                <div class="gradient">
                    <p class="hover-text">
                        super team
                    </p>
                </div>
                <!-- <img src="./img/foto3.png" alt="foto1"> -->
            </div>
        </div>
        <!--<div class="block_foto">-->
            <!--<div class="foto">-->
                <!--<img src="./img/foto1.png" alt="foto1">-->
            <!--</div>-->
            <!--<div class="foto">-->
                <!--<img src="./img/foto2.png" alt="foto1">-->
            <!--</div>-->
            <!--<div class="foto">-->
                <!--<img src="./img/foto3.png" alt="foto1">-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>