<section class="banner">
    <div class="wrapper">
        <h1>Creative Template
            <span class="big"> Welcome to MoGo </span>
        </h1>
        <a href="#" class="btn">Learn more</a>
        <div class="slider_menu">
            <a href="#" class="menu__item-slider"><b>01 </b>intro</a>
            <a href="#" class="menu__item-slider"><b>02 </b>work</a>
            <a href="#" class="menu__item-slider"><b>03 </b>about</a>
            <a href="#" class="menu__item-slider"><b>04 </b>contacts</a>
        </div>
    </div>
</section>