<section class="blue_line line">
    <div class="wrapper block_stats">
        <div class="stat_info" >
            <h2>42</h2>
            <p>Web Design Projects</p>
        </div>
        <div class="stat_info" >
            <h2>123</h2>
            <p>happy client</p>
        </div>
        <div class="stat_info" >
            <h2>15</h2>
            <p>award winner</p>
        </div>
        <div class="stat_info" >
            <h2>99</h2>
            <p>cup of coffee</p>
        </div>
        <div class="stat_info" >
            <h2>24</h2>
            <p>members</p>
        </div>
    </div>
</section>