<footer>
    <div class="wrapper ">
        <div class="footer__info">
            <div class="footer__logo">MoGo</div>
            <p class="footer__comment">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur.
            </p>
            <div class="footer__social">
                <h5 class="xs-heading">
                    <b>15k </b>followers
                </h5>
                <span class="followUs">follow Us:</span>
                <a href="#" class="footer__links">
                    <img src="img/facebook.png" alt="logo">
                </a>
                <a href="#" class="footer__links">
                    <img src="img/twitter.png" alt="logo">
                </a>
                <a href="#" class="footer__links">
                    <img src="img/instagram.png" alt="logo">
                </a>
                <a href="#" class="footer__links">
                    <img src="img/pinterest.png" alt="logo">
                </a>
                <a href="#" class="footer__links">
                    <img src="img/google-plus.png" alt="logo">
                </a>
                <a href="#" class="footer__links">
                    <img src="img/youtube.png" alt="logo">
                </a>
                <a href="#" class="footer__links">
                    <img src="img/dribbble.png" alt="logo">
                </a>
                <a href="#" class="footer__links">
                    <img src="img/tumblr.png" alt="logo">
                </a>
            </div>
            <form class="subscribe">
                <input type="email" name="email" placeholder="Your email">
                <button class="subscribe__link">SUBSCRIBE</button>
            </form>
        </div>
        <div class="footer__blog">
            <h5 class="xs-head">BLOGS</h5>
            <div class="blog__article">
                <img src="img/blog_post1.png" alt="img">
                <div class="blog__post">
                    <h5 class="post__heading">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                    </h5>
                    <span class="date__time">Jan 9, 2016</span>
                </div>
            </div>
            <div class="blog__article">
                <img src="img/blog_post2.png" alt="img">
                <div class="blog__post">
                    <h5 class="post__heading">
                        Consectetur adipiscing elit,
                        sed do eiusmod tempor
                    </h5>
                    <span class="date__time">Jan 9, 2016</span>
                </div>
            </div>
            <div class="blog__article">
                <img src="img/blog_post3.png" alt="img">
                <div class="blog__post">
                    <h5 class="post__heading">
                        sed do eiusmod tempor
                        incididunt ut labore
                    </h5>
                    <span class="date__time">Jan 9, 2016</span>
                </div>
            </div>
        </div>
        <div class="footer__instagtam">
            <h5 class="xs-head">instagram</h5>
            <div class="footer__gallery">
                <img src="img/insta1.png" alt="foto">
                <img src="img/insta2.png" alt="foto">
                <img src="img/insta3.png" alt="foto">
                <img src="img/insta4.png" alt="foto">
                <img src="img/insta5.png" alt="foto">
                <img src="img/insta6.png" alt="foto">
                <img src="img/insta7.png" alt="foto">
                <img src="img/insta8.png" alt="foto">
                <img src="img/insta9.png" alt="foto">
            </div>
            <p class="more">View more photos</p>
        </div>
        <div class="footer__copyrights">
            <p>
                &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>
            </p>
        </div>
    </div>
</footer>