<section class="grey_line">
    <div class="wrapper grey__line_container">
        <div class="greyline__slider__arrow">
            <img src="img/icons/arrow-left.png" alt="logo">
        </div>
        <div class="greyline__icon">
            <img src="img/icons/speech-4.png" alt="logo">
        </div>
        <div class="greyline__text">
            <p>
                “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation.”
            </p>
            <h3>Jon Doe</h3>
        </div>
        <div class="greyline__slider__arrow">
            <img src="img/icons/arrow-right.png" alt="logo">
        </div>
    </div>
</section>