<section class="aboutUs banner_happy ">
    <div class="wrapper ">
        <h3 class="mainTitle">
            Happy Clients
        </h3>
        <span class="secondTitle">
			What people say
        </span>
        <div class="recommends">
            <div class="recommend__client">
                <img src="img/client1.png" alt="recommend"></img>
                <div class="recomend_text">
                    <h4 class="client_name">Matthew Dix</h4>
                    <p class="teammate_position">Graphic Design</p>
                    <p	class="client_recommends">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                        Ut enim ad minim.
                    </p>
                </div>
            </div>
            <div class="recommend__client">
                <img src="img/client2.png" alt="recommend"></img>
                <div class="recomend_text">
                    <h4 class="client_name">Nick Karvounis</h4>
                    <p class="teammate_position">Graphic Design</p>
                    <p	class="client_recommends">
                        Sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        Ut enim ad minim veniam
                    </p>
                </div>
            </div>
            <div class="recommend__client">
                <img src="img/client3.png" alt="recommend"></img>
                <div class="recomend_text">
                    <h4 class="client_name">Jaelynn Castillo </h4>
                    <p class="teammate_position">Graphic Design</p>
                    <p	class="client_recommends">
                        Ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                </div>
            </div>
            <div class="recommend__client">
                <img src="img/client4.png" alt="recommend"></img>
                <div class="recomend_text">
                    <h4 class="client_name">Mike Petrucci</h4>
                    <p class="teammate_position">Graphic Design</p>
                    <p	class="client_recommends">
                        Dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>