<header>
    <div class="wrapper">
        <div class="header-wrap">
            <div class="logo"><a href ="#">MoGo</a></div>
            <nav class="navigation">
                <ul class="menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">About </a></li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Service </a></li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Work </a> </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">blog </a> </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">contact</a> </li>
                    <li class="menu__item_ico">
                        <a href="#" class="menu__link">
                            <img class="someImg" src="img/icons/shopping-cart.png" alt="ico"></a></li>
                    <li class="menu__item_ico">
                        <a href="#" class="menu__link">
                            <img src="img/icons/magnifying-glass.png" alt="ico"></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

