<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <title>Главная</title>
    <link href="https://fonts.googleapis.com/
	css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/
	css?family=Montserrat:400,400i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/
	css?family=Kaushan+Script&amp;subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>

<!--верстка хедера меню и логотипа-->
<div class="main_Mogo">
    //= header.html
    <!--верстка банера-->
    //= baner.html
    <!--section what we do about Us-->
    //= aboutUS.html
    <!--section line-->
    //= Blue_line.html
    <!--section work with-->
    //= work_with.html
    <!-- section Uniq design-->
    //= Uniq.html
    <!--секция service-->
    //= service.html
    <!-- section grey line-->
    //= grey_line.html
    <!--section Team Foto block    -->
    //= team_foto.html
    <!-- section grey line with logo-->
    //= grey_line2.html
    <!--our galarry-->
    //= portfolio.html
 <!-- section white line with slider-->
    //= white_line.html
    <!--section Happy clients-->
    //= happy_clients.html
    <!--section our stories-->
    //= our_stories.html
    <!-- section grey line with map-->
    //= grey_line_map.html
    <!-- footer-->
    //= footer.html

</div>

<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>