<section class="aboutUs ">
    <div class="wrapper ">
        <h3 class="mainTitle">
            Our stories
        </h3>
        <span class="secondTitle">
		Latest blog
    </span>
        <div class="blog__list">
            <div class="blog__item">
                <img src="img/blog1.png" alt="blog">
                <div class="date">
                    <span class="day">15</span>
                    <span class="month">Jan</span>
                </div>
                <div class="blog__description">
                    <h5 class="xs-head">Lorem ipsum dolor sit amet</h5>
                    <p class="comment">
                        Consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                    <hr class="line__blog" />
                    <div class="count">
                        <span class="view__count">542</span>
                        <span class="comment__count">17</span>
                    </div>
                </div>
            </div>
            <div class="blog__item">
                <img src="img/blog2.png" alt="blog">
                <div class="date">
                    <span class="day">14</span>
                    <span class="month">Jan</span>
                </div>
                <div class="blog__description">
                    <h5 class="xs-head">sed do eiusmod tempor</h5>
                    <p class="comment">
                        Adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </p>
                    <hr class="line__blog" />
                    <div class="count">
                        <span class="view__count">992</span>
                        <span class="comment__count">42</span>
                    </div>
                </div>
            </div>
            <div class="blog__item">
                <img src="img/blog3.png" alt="blog">
                <div class="date">
                    <span class="day">12</span>
                    <span class="month">Jan</span>
                </div>
                <div class="blog__description">
                    <h5 class="xs-head">incididunt ut labore et dolore</h5>
                    <p class="comment">
                        Elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                    <hr class="line__blog" />
                    <div class="count">
                        <span class="view__count">1560</span>
                        <span class="comment__count">98</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>