<section class="aboutUs portfolio">
    <div class="wrapper">
        <h3 class="mainTitle">
            What we do
        </h3>
        <span class="secondTitle">
			some of our work
        </span>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="gallary">
        <div class="gallary__block">
            <div class="gallary_item1 gallary__square"></div>
            <div class="gallary_item2 gallary__square"></div>
        </div>
        <div class="gallary__block">
            <div class="gallary_item3 gallary__square"></div>
            <div class="gallary_item4 gallary__square"></div>
        </div>
        <div class="gallary__block">
            <div class="gallary_item5 gallary__rectangle"></div>
        </div>
        <div class="gallary__block">
            <div class="gallary_item6 gallary__square"></div>
            <div class="gallary_item7 gallary__square"></div>
        </div>
    </div>
</section>