<section class="white_line">
    <div class="wrapper white__line_container">
        <div class="greyline__slider__arrow">
            <img src="img/icons/arrow-left.png" alt="logo">
        </div>
        <div class="circle__foto">
            <img src="img/circle_foto.png" alt="logo">
        </div>
        <div class="greyline__text">
            <p>
                “Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation.”
            </p>
            <h3>Joshua Earle</h3>
        </div>
        <div class="greyline__slider__arrow">
            <img src="img/icons/arrow-right.png" alt="logo">
        </div>
    </div>
</section>