<section class="aboutUs">
    <div class="wrapper">
        <h3 class="mainTitle">
            We work with
        </h3>
        <span class="secondTitle">
			Amazing Services
        </span>
        <div class="row" >
            <div class="row__services">
                <div class="row__services_image">
                    <img src="img/icons/photo.png" alt="icons">
                </div>
                <div class="row__services_info">
                    <h3>Photography</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>

            <div class="row__services">
                <div class="row__services_image">
                    <img src="img/icons/photo.png" alt="icons">
                </div>
                <div class="row__services_info">
                    <h3>Web Design</h3>
                    <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>

            <div class="row__services">
                <div class="row__services_image">
                    <img src="img/icons/photo.png" alt="icons">
                </div>
                <div class="row__services_info">
                    <h3>Creativity</h3>
                    <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
        </div>
        <hr noshade />
        <div class="row" >
            <div class="row__services">
                <div class="row__services_image">
                    <img src="img/icons/seo.png" alt="icons">
                </div>
                <div class="row__services_info">
                    <h3>seo</h3>
                    <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                </div>
            </div>

            <div class="row__services">
                <div class="row__services_image">
                    <img src="img/icons/html.png" alt="icons">
                </div>
                <div class="row__services_info">
                    <h3>Css/Html</h3>
                    <p>Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor..</p>
                </div>
            </div>

            <div class="row__services">
                <div class="row__services_image">
                    <img src="img/icons/digital.png" alt="icons">
                </div>
                <div class="row__services_info">
                    <h3>digital</h3>
                    <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
        </div>
    </div>
</section>